@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Kanit';
  src: url('/fonts/Kanit/Kanit-ExtraLight.ttf');
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}
